body {
    padding: 20px;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: #5E5694;
}

ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

footer {
    padding: 20px;
    font-size: 1rem;
    font-family: sans-serif;
    color: #1b1b1b;
}