<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New conference room</title>
</head>
<body>
    <label>
        Conference room name:
        <input type="text" name="room_name">
    </label>
    <label>
        Capacity:
        <input type="number" name="room_capacity">
    </label>
    <br>
    <label>
        Availability of projector:
        <input type="checkbox" name="projector" value=""/>
    </label>
    <br>
    <input type="submit" value="Save details">
</body>
</html>