<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Room detailed view</title>
</head>
<body>
    <p>Room name: {{ room.name }}</p>
    <p>Room capacity: {{ room.capacity }}</p>
    <p>Projector availability: {{ room.projector_availability }}</p>
    <p>Reservations</p>
    <table>
        <thead>
            <tr>
                <th>Reservation date</th>
                <th>Comment</th>
            </tr>
        </thead>
            {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.date }}</td>
            <td>{{ reservation.comment }}</td>
            {% endfor %}
        </tr>
    </table>
    <br>
    <a href="/room/modify/{{ room.id }}/">Edit room</a><br><br>
    <a href="/room/delete/{{ room.id }}/">Delete room</a><br><br>
    <a href="/room/reserve/{{ room.id }}/">Reserve the room</a><br><br>
    <a href="/room/list/">Back to the list of rooms</a>
</body>
</html>