<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify room</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
    <label>
        Room name:
        <input type="text" name="room_name" placeholder="Room name" value="{{ room_mod.name }}">
    </label>
    <label>
        <br>
        Room capacity:
        <input type="number" name="room_capacity" placeholder="Room capacity" value="{{ room_mod.capacity}}">
    </label>
    <br>
    <label>
        Projector availability:
        <input type="checkbox" name="projector_availability"
               {% if room_mod.projector_availability %} checked {% endif %}>
    </label>
        <input type="submit" value="Save">
    </form>
</body>
</html>